/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #131d2e;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #bb4230;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: #bb4230;
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #daa36b;
}

h1,
h2,
h3 {
    margin-bottom: 1rem;
}

main {
    padding: 2rem;
}

header,
footer {
    background-color: #131d2e;
    color: #fff;
    padding: 1rem 2rem;
}

header h2 {
    margin-bottom: 0.5rem;
}

header nav a {
    margin-right: 1rem;
}

footer p {
    text-align: center;
}